<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.guet.exchange.mapper.ArticleMapper">
  <resultMap id="BaseResultMap" type="cn.edu.guet.exchange.entities.Article">
    <!--@mbg.generated-->
    <!--@Table article-->
    <id column="article_id" jdbcType="INTEGER" property="articleId" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="article_title" jdbcType="VARCHAR" property="articleTitle" />
    <result column="article_content" jdbcType="LONGVARCHAR" property="articleContent" />
    <result column="link_name" jdbcType="VARCHAR" property="linkName" />
    <result column="link_url" jdbcType="VARCHAR" property="linkUrl" />
    <result column="declare" jdbcType="INTEGER" property="declare" />
    <result column="introduce" jdbcType="VARCHAR" property="introduce" />
    <result column="is_push" jdbcType="BIT" property="isPush" />
    <result column="is_allowed" jdbcType="BIT" property="isAllowed" />
    <result column="is_restriction" jdbcType="BIT" property="isRestriction" />
    <result column="restriction_type" jdbcType="VARCHAR" property="restrictionType" />
    <result column="agree_number" jdbcType="INTEGER" property="agreeNumber" />
    <result column="disagree_number" jdbcType="INTEGER" property="disagreeNumber" />
    <result column="comment_number" jdbcType="INTEGER" property="commentNumber" />
    <result column="mark" jdbcType="VARCHAR" property="mark" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="is_delete" jdbcType="BIT" property="isDelete" />
    <result column="article_cover_url" jdbcType="VARCHAR" property="articleCoverUrl" />
    <result column="abbreviated_content" jdbcType="LONGVARCHAR" property="abbreviatedContent" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    article_id, user_id, article_title, article_content, link_name, link_url, `declare`, 
    introduce, is_push, is_allowed, is_restriction, restriction_type, agree_number, disagree_number, 
    comment_number, mark, create_time, update_time, is_delete, article_cover_url, abbreviated_content
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from article
    where article_id = #{articleId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from article
    where article_id = #{articleId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="article_id" keyProperty="articleId" parameterType="cn.edu.guet.exchange.entities.Article" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into article (user_id, article_title, article_content, 
      link_name, link_url, `declare`, 
      introduce, is_push, is_allowed, 
      is_restriction, restriction_type, agree_number, 
      disagree_number, comment_number, mark, 
      create_time, update_time, is_delete, 
      article_cover_url, abbreviated_content
      )
    values (#{userId,jdbcType=INTEGER}, #{articleTitle,jdbcType=VARCHAR}, #{articleContent,jdbcType=LONGVARCHAR}, 
      #{linkName,jdbcType=VARCHAR}, #{linkUrl,jdbcType=VARCHAR}, #{declare,jdbcType=INTEGER}, 
      #{introduce,jdbcType=VARCHAR}, #{isPush,jdbcType=BIT}, #{isAllowed,jdbcType=BIT}, 
      #{isRestriction,jdbcType=BIT}, #{restrictionType,jdbcType=VARCHAR}, #{agreeNumber,jdbcType=INTEGER}, 
      #{disagreeNumber,jdbcType=INTEGER}, #{commentNumber,jdbcType=INTEGER}, #{mark,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{isDelete,jdbcType=BIT}, 
      #{articleCoverUrl,jdbcType=VARCHAR}, #{abbreviatedContent,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" keyColumn="article_id" keyProperty="articleId" parameterType="cn.edu.guet.exchange.entities.Article" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into article
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        user_id,
      </if>
      <if test="articleTitle != null">
        article_title,
      </if>
      <if test="articleContent != null">
        article_content,
      </if>
      <if test="linkName != null">
        link_name,
      </if>
      <if test="linkUrl != null">
        link_url,
      </if>
      <if test="declare != null">
        `declare`,
      </if>
      <if test="introduce != null">
        introduce,
      </if>
      <if test="isPush != null">
        is_push,
      </if>
      <if test="isAllowed != null">
        is_allowed,
      </if>
      <if test="isRestriction != null">
        is_restriction,
      </if>
      <if test="restrictionType != null">
        restriction_type,
      </if>
      <if test="agreeNumber != null">
        agree_number,
      </if>
      <if test="disagreeNumber != null">
        disagree_number,
      </if>
      <if test="commentNumber != null">
        comment_number,
      </if>
      <if test="mark != null">
        mark,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="isDelete != null">
        is_delete,
      </if>
      <if test="articleCoverUrl != null">
        article_cover_url,
      </if>
      <if test="abbreviatedContent != null">
        abbreviated_content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="articleTitle != null">
        #{articleTitle,jdbcType=VARCHAR},
      </if>
      <if test="articleContent != null">
        #{articleContent,jdbcType=LONGVARCHAR},
      </if>
      <if test="linkName != null">
        #{linkName,jdbcType=VARCHAR},
      </if>
      <if test="linkUrl != null">
        #{linkUrl,jdbcType=VARCHAR},
      </if>
      <if test="declare != null">
        #{declare,jdbcType=INTEGER},
      </if>
      <if test="introduce != null">
        #{introduce,jdbcType=VARCHAR},
      </if>
      <if test="isPush != null">
        #{isPush,jdbcType=BIT},
      </if>
      <if test="isAllowed != null">
        #{isAllowed,jdbcType=BIT},
      </if>
      <if test="isRestriction != null">
        #{isRestriction,jdbcType=BIT},
      </if>
      <if test="restrictionType != null">
        #{restrictionType,jdbcType=VARCHAR},
      </if>
      <if test="agreeNumber != null">
        #{agreeNumber,jdbcType=INTEGER},
      </if>
      <if test="disagreeNumber != null">
        #{disagreeNumber,jdbcType=INTEGER},
      </if>
      <if test="commentNumber != null">
        #{commentNumber,jdbcType=INTEGER},
      </if>
      <if test="mark != null">
        #{mark,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDelete != null">
        #{isDelete,jdbcType=BIT},
      </if>
      <if test="articleCoverUrl != null">
        #{articleCoverUrl,jdbcType=VARCHAR},
      </if>
      <if test="abbreviatedContent != null">
        #{abbreviatedContent,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.edu.guet.exchange.entities.Article">
    <!--@mbg.generated-->
    update article
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="articleTitle != null">
        article_title = #{articleTitle,jdbcType=VARCHAR},
      </if>
      <if test="articleContent != null">
        article_content = #{articleContent,jdbcType=LONGVARCHAR},
      </if>
      <if test="linkName != null">
        link_name = #{linkName,jdbcType=VARCHAR},
      </if>
      <if test="linkUrl != null">
        link_url = #{linkUrl,jdbcType=VARCHAR},
      </if>
      <if test="declare != null">
        `declare` = #{declare,jdbcType=INTEGER},
      </if>
      <if test="introduce != null">
        introduce = #{introduce,jdbcType=VARCHAR},
      </if>
      <if test="isPush != null">
        is_push = #{isPush,jdbcType=BIT},
      </if>
      <if test="isAllowed != null">
        is_allowed = #{isAllowed,jdbcType=BIT},
      </if>
      <if test="isRestriction != null">
        is_restriction = #{isRestriction,jdbcType=BIT},
      </if>
      <if test="restrictionType != null">
        restriction_type = #{restrictionType,jdbcType=VARCHAR},
      </if>
      <if test="agreeNumber != null">
        agree_number = #{agreeNumber,jdbcType=INTEGER},
      </if>
      <if test="disagreeNumber != null">
        disagree_number = #{disagreeNumber,jdbcType=INTEGER},
      </if>
      <if test="commentNumber != null">
        comment_number = #{commentNumber,jdbcType=INTEGER},
      </if>
      <if test="mark != null">
        mark = #{mark,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isDelete != null">
        is_delete = #{isDelete,jdbcType=BIT},
      </if>
      <if test="articleCoverUrl != null">
        article_cover_url = #{articleCoverUrl,jdbcType=VARCHAR},
      </if>
      <if test="abbreviatedContent != null">
        abbreviated_content = #{abbreviatedContent,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where article_id = #{articleId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.edu.guet.exchange.entities.Article">
    <!--@mbg.generated-->
    update article
    set user_id = #{userId,jdbcType=INTEGER},
      article_title = #{articleTitle,jdbcType=VARCHAR},
      article_content = #{articleContent,jdbcType=LONGVARCHAR},
      link_name = #{linkName,jdbcType=VARCHAR},
      link_url = #{linkUrl,jdbcType=VARCHAR},
      `declare` = #{declare,jdbcType=INTEGER},
      introduce = #{introduce,jdbcType=VARCHAR},
      is_push = #{isPush,jdbcType=BIT},
      is_allowed = #{isAllowed,jdbcType=BIT},
      is_restriction = #{isRestriction,jdbcType=BIT},
      restriction_type = #{restrictionType,jdbcType=VARCHAR},
      agree_number = #{agreeNumber,jdbcType=INTEGER},
      disagree_number = #{disagreeNumber,jdbcType=INTEGER},
      comment_number = #{commentNumber,jdbcType=INTEGER},
      mark = #{mark,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      is_delete = #{isDelete,jdbcType=BIT},
      article_cover_url = #{articleCoverUrl,jdbcType=VARCHAR},
      abbreviated_content = #{abbreviatedContent,jdbcType=LONGVARCHAR}
    where article_id = #{articleId,jdbcType=INTEGER}
  </update>
  <select id="selectAllAnswer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from article
    where is_delete = false
    limit #{lineNumber}, #{pageLength}
  </select>
</mapper>